egpaper_for_review.pdf
supplementary.pdf
backup/
*.blg
*.bbl
*.brf
*.blg 
*.bbl 
*.dvi
*.aux
*.out
*.log
*.dvi 
*.nav 
*.snm 
*.toc 
*.vrb 
*.out
draft.txt
*.nav
*.snm
*.toc
*.zip
*.fdb_latexmk
*.fls
.DS_Store
*.gz
.exrc
